<% if user_signed_in? %>
  <% if current_user.subscribed? %>
	  <!-- PAID USER -->
	  <br/>
	  <br/>
	  <div class="alert alert-success card-images" role="alert">
		  <strong>Well done!</strong> You <b>unlimited</b> uploads this month! 
		</div>
		<%= render :template => "pages/new" %>
		<br/>
		<h4 style="text-align: center;">Current stage: <b>Alpha</b></h4>
		<br/>
			<% @images.where(author:  current_user.email).each do |ad| %>
			<%= react_component("Post", {title: ad.title, image: ad.image.url, feed: ad.feedback, rating: ad.rating}, {prerender: true}) %>
			<% end %>
<% else %>
<!-- NOT PAID -->
<br/>
<br/>
	  <% if current_user.limit > 0 %>		
			<div class="alert alert-warning card-images">
			  <strong>Warning!</strong> You have <b><%= current_user.limit %> uploads </b> left for this month
			  <br/>
			  <a href="/subscribers"><button class="btn btn-warning">Subscribe</button></a>
			</div>
		<% else %>
			<div class="alert alert-danger card-images">
			  <strong>Warning!</strong> You have 0 uploads left for this month
			  <br/>
			  <a href="/subscribers"><button class="btn btn-danger">Subscribe</button></a>
			</div>
			<script>
				alert("You have 0 uploads left for this month");
			</script>
		<% end %>
		<%= render :template => "pages/new" %>
		<br/>
		<h4 style="text-align: center;">Current stage: <b>Alpha</b></h4>
		<br/>
			<% @images.where(author:  current_user.email).each do |ad| %>
			<%= react_component("Post", {title: ad.title, image: ad.image.url, feed: ad.feedback, rating: ad.rating}, {prerender: true}) %>
		<% end %>

<% end %>
<% else %>
<body id="login">
<% if false %>

<% end %>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>

	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down"></div>
		<div id="arrow-left" class="disabled visible-lg"></div>
		<div id="arrow-right" class="disabled visible-lg"></div>
	</div><!-- /.arrows -->


	<!-- === MAIN Background === -->
	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">TECH<span class="font-thin"> AURIGA</span></h1>
					<h4 class="font-thin">Get <span class="font-semibold"> instant feedback </span> on your online advertisements </h4>
					<br>
					<br>
					<a href="/users/sign_up"><button type="button" class="btn btn-primary" style="font-size:22px;">Start Today For Free</button></a>
				</div><!-- /col-12 -->
			</div><!-- /row -->
			<!-- 
			<div id="home-row-2" class="row clearfix">
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="../c3.png"></div><span>PROFESSIONAL</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="../c2.png"></div><span>PROVEN</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="../c1.png"></div><span>FREE FOREVER</span></div>
			</div>  --><!-- /row -->
			<br/>
			<br/>
			 <div class="card-images" style="background-color: rgba(0, 187, 255,0.2)">
              <img src="http://placehold.it/350x150" alt="" id="ad-image"/>
                <div class="container-images" style="background-color: transparent;">
                    <h3><b>Insert your ad here</b></h3>
										<p>By using machine learning, our algorithm will give you instant feedback on your ads</p>
                    <hr/>
                    <p>Rating of ad: <b>10/10</b></p>
             </div>
          </div>
		</div><!-- /container -->
	</div><!-- /slide1 -->
<!--
<div id="free-list">
  <br>
  <h2> Start Today </h2>
  <div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">0</span>
						<span class="cd-duration-free">/mo</span>
	</div>
<ul class="list-group">
  <li class="list-group-item">Free forever</li>
  <li class="list-group-item ">Get feedback on your ads by machine learning</li>
  <li class="list-group-item">See how your ad compares others</li>
  <li class="list-group-item">Get human feedback as well</li>
  <li class="list-group-item"></li>
</ul>
<br>
<div class="frontpage">
<a href="/users/sign_up">
<button type="button" class="btn btn-primary btn-lg">Sign up</button>
</a>
</div>
</div>

<div id="list">
  <br>
  <h2> Premium </h2>
  <div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">20</span>
						<span class="cd-duration">/mo</span>
	</div>
<ul class="list-group">
  <li class="list-group-item">Everything above</li>
  <li class="list-group-item">Get professional humman feedback as well</li>
  <li class="list-group-item">24/7 Support</li>
  <li class="list-group-item">Cancel anytime</li>
  <li class="list-group-item"></li>
</ul>
<br>
<div class="frontpage">
<a href="/users/sign_up">
<button type="button" class="btn btn-primary btn-lg">Subscribe!</button>
</a>
</div>
</div>
-->


</body>

<% end %>