
			
        <div>
      <%= form_for(@ad, :html => {:id => "testupload"}) do |f| %>

            <div class="card-images previews">
         <ul>
            <% @ad.errors.full_messages.each do |error| %>
               <li class="alert alert-danger card-images"><%= error %></li>
            <% end %>
         </ul>               
                        <div style="width: 100%; height: 150px; background-color: #939393;" class="details">
                           <div style="text-align: center; color: white; line-height: 150px; font-size: 25px;">Drag and drop image(alpha)</div>
                        </div>
                <div class="container-images">
                 <div style="text-align: center;">
                     <label class="btn btn-info btn-file" style="text-align: center; width: 75%;">
                        Browse files
                      <%= f.file_field :image, accept:'image/*', :style => "display: none", :id =>"my-file-selector", :required => true, onChange:"load_image(this.id,this.value)" %>
                      <% if f.object.image? %>
                        <%= image_tag f.object.image.thumb.url %>
                        <%= f.label :remove_image %>
                        <%= f.check_box :remove_image %> 
                      <% end %>    
                      </label>
                      <div>
                          File name:
                    <div style="text-align: center;">
                     <input type="text" id="upload-file-info" style="border: none;background-color: transparent; text-align:center;" readonly/> 
                    </div>
                      </div>
                  </div>
                    <h3><%= f.text_field :title, class: "input-max", :required => true, placeholder:"Title of your ad" %></h3>
										<p><b>Feedback: </b></p>
										<p style="font-size: 16px">Your feedback and info goes here</p>
                    <hr/>
                    <!--
                    <p><b>Image Recognition:</b></p>
						<p style="font-size: 16px">See how recognizable your image is</p>
						<p style="font-size: 16px">Shows the top 5 guesses</p>
                    <hr/>
                    -->
                    <p>Rating: 10/10</p>
                    <p style="font-size: 16px">Anything above 5 is good</p>
                    <p style="font-size: 16px">Anything below 5 is bad</p>   
                  <br/>
                  <div style="text-align: center;">
                      <%= f.submit "Submit ad", :class => 'btn btn-success', :style => "width: 75%", data: { disable_with: "Please wait..." } %>
                  </div>
                  <br/>
                </div>
            </div>
         <%= f.hidden_field :author, value: current_user.email %>
         <% end %>
        </div>
<script>
    $('#my-file-selector').on('change',function(){
          $('#upload-file-info').val(this.files && this.files.length ?
          this.files[0].name : this.value.replace(/^C:\\fakepath\\/i, ''))
          console.log(this.files[0].size)
          if(this.files[0].size > 100000)
          {
               alert("File is too big!");
               $("#upload-file-info").val('');
               this.value = "";
          };         
          
        })
</script>

<script type="text/javascript">
function load_image(id,ext)
{
   if(validateExtension(ext) == false)
   {
      alert("Must be an image file: jpg, jpeg, png, or gif");
      // document.getElementById("upload-file-info").focus();
      $("#my-file-selector").replaceWith($("#my-file-selector").val('').clone(true));
      $("#my-file-selector").val('');
      $("#upload-file-info").val('');
      return;
   }
}

function validateExtension(v)
{
      var allowedExtensions = new Array("jpg","JPG","jpeg","JPEG", "PNG", "png", "GIF", "gif");
      for(var ct=0;ct<allowedExtensions.length;ct++)
      {
          sample = v.lastIndexOf(allowedExtensions[ct]);
          if(sample != -1){return true;}
      }
      return false;
}

</script>